<div class="about">
	
</div>

	<div class="about-description">
		<br>
		

		<span class="box">ALL ABOUT DANIEL PARK</span><br><BR>

		<h3>Daniel Park is a Vancouver based designer who specializes in Web design, Ui design, and Graphic design. Daniel loves to work in a vibrant environment while having fun.<br> If you want to contact Daniel, shoot him an email at: d.hanul.park@gmail.com  </h3><br>
		<h3>Daniel is quick to complete his tasks and is extremely resourceful. You could say that he is hustler that knows how to draw the owl.</h3><br>
		
		<a href="assets/resume.pdf" target="_blank">RESUME</a><br><br>
		
		<h3>Get in touch with Daniel</h3><br>
		<a href="#" target="_blank">
			<span class="fa-stack fa-lg">
			  <i class="fa fa-circle-thin fa-stack-2x"></i>
			  <i class="fa fa-twitter fa-1x"></i>
			</span>
		</a>
		<a href="#" target="_blank">
			<span class="fa-stack fa-lg">
			  <i class="fa fa-circle-thin fa-stack-2x"></i>
			  <i class="fa fa-instagram fa-1x"></i>
			</span>
		</a>
		<a href="#" target="_blank">
			<span class="fa-stack fa-lg">
			  <i class="fa fa-circle-thin fa-stack-2x"></i>
			  <i class="fa fa-dribbble fa-1x"></i>
			</span>
		</a>
	</div>

