<div class="body">
  <div class="work-description posterbg">
    <div class="work-content">
      <span class="box">Graphic Posters</span><br>
      <span class="box box2">A collection of graphic posters</span>
    </div>
  </div>

  <div class="work-comments">
    <div class="blabble">
      <h3>BACKGROUND</h3><br>
      <p>I am a big fan of the international typographic style (Swiss Style), so I created some posters in that style.</p><br><br>
    </div>

    <div class="technology">
      <h3>What I did</h3><p>Concept and Design</p><br>
      <h3>What I used</h3><p>Photography, Photoshop, Illustrator, Typography</p>
    </div>
  </div>

  <div class="poster">
    <img src="assets/images/aselse/beenjino.jpg" alt="beenjino">
  </div>  
</div>

<div class="work-nav">
  <div class="prev">
    <a href="#/edge">prev</a>
  </div>

  <div class="next">
    <a href="#/photography">next</a>
  </div>
</div>
