<div class="body">
	
	<div class="work-description beaconbg">
		<div class="work-content">
			<span class="box">Ai Beacon</span><br>
			<span class="box box2">A mobile application for students at the Art Institute.</span>
		</div>
		
		
	</div>

	<div class="work-comments">
		<div class="blabble">
			<h3>BACKGROUND</h3><br>
			<p>Ai Beacon was a project developed by a collaborative group of designers and developers in order to deliver constant updates to the student body. Sometimes, we as students would end up arriving to school only to find out that our instructor has forgetten to email us about class cancellations. <br> As a result, a team of 8 designed, prototyped, and developed a mobile application that allows students to view updates on the bookstore, cafe, events, and class cancellations.</p><br><br>

			<a target="_blank">There is a working prototype</a>
		</div>

		<div class="technology">
			<h3>What I did</h3><p>Lead mobile Developer in a team of 4 developers. </p><br>
			<h3>What I used</h3><p>AppGyver, HTML5, CSS3, Javascript. 
		</div>
	</div>
	
	<div class="work">
		<img src="assets/images/beacon/flow.jpg" alt="edge">
	</div>	
	
	
</div>

<div class="work-nav">
	<div class="prev">
		<a href="#/hidden">prev</i></a>
	</div>

	<div class="next">
		<a href="#/pictography">next</a>
	</div>
</div>
