<div class="body">
	
	<div class="work-description edgebg">
		<div class="work-content">
			<span class="box">EDGE U of A</span><br>
			<span class="box box2">Branding and web design for EDGE - U of A Business Competition.</span>
		</div>
		
		
	</div>

	<div class="work-comments">
		<div class="blabble">
			<h3>BACKGROUND</h3><br>
			<p>EDGE is a student run competition that is held annually at the University of Alberta. <br> EDGE approached me for a complete revamp of their competition identity. I designed a logo and developed a promotional one-page website.</p><br><br>

			<a href="http://edge-uofa.com/" target="_blank">VISIT SITE</a>
		</div>

		<div class="technology">
			<h3>What I did</h3><p>Lead Designer/Developer virtually. </p><br>
			<h3>What I used</h3><p>Photoshop, HTML5, CSS3, JQuery, JavaScript. 
		</div>
	</div>
	
	<div class="work">
		<img src="assets/images/edge/edgestationary.jpg" alt="edge">
	</div>	
	
	
</div>

<div class="work-nav">
	<div class="prev">
		<a href="#/posters">prev</i></a>
	</div>

	<div class="next">
		<a href="#/photography">next</a>
	</div>
</div>
