<div class="body">
	
	<div class="work-description">
		<h1>EDGE U OF A BUSINESS COMPETITION</h1>
		<h3>Branding and Web Design.</h3><br><br>
		
		<a href="http://edge-uofa.com/" target="_blank">VISIT SITE</a>
	</div>
	
	<div class="work">
		<img src="assets/images/edge/edge.jpg" alt="edge">
	</div>	
	
	
</div>

<div class="work-nav">
	<div class="prev">
		<a href="#/posters">prev</i></a>
	</div>

	<div class="next">
		<a href="#/photography">next</a>
	</div>
</div>


<footer>
	<h3>DANIEL PARK</h3>
	<p>Made with love from Canada, 2014 ©</p>
</footer>