<div class="body">
	<div class="work-description">
		<h1>Hidden Gem</h1>
		<h3>A UI project that allows users to create websites via GUI (Graphical user interface)</h3>
	</div>
	<div class="work">
		<img src="assets/images/hidden/hiddengem.jpg" alt="Hiddengem">
	</div>	
</div>

<div class="work-nav">
	<div class="prev">
		<a href="#/photography">prev</a>
	</div>
	
	<div class="next">
		<a href="#/pictography">next</a>
	</div>
</div>


<footer>
	<h3>DANIEL PARK</h3>
	<p>Made with love from Canada, 2014 ©</p>
</footer>