<div class="body">

	<div class="work-description hiddenbg">
		<div class="work-content">
			<span class="box">Hidden Gem</span><br>
			<span class="box box2">A UI project that allows users to create websites via GUI (Graphical user interface)</span>
		</div>
	</div>

	<div class="work-comments">
		<div class="blabble">
			<h3>BACKGROUND</h3><br>
			<p>Hidden Gem is a conceptual online application that allows users who do not know coding to create unique and custom wordpress themes. <br> The focus of this project was to examine user experience with the toolbar</p>
		</div>

		<div class="technology">
			<h3>What I did</h3><p>Lead Designer in a team of 4.</p><br>
			<h3>What I used</h3><p>Photoshop, Illustrator. 
		</div>
	</div>

	<div class="work">
		<img src="assets/images/hidden/hiddengem.jpg" alt="Hiddengem">
		<img src="assets/images/hidden/hiddengif.gif" alt="hiddengif" id="gif">
	</div>
		
</div>

<div class="work-nav">
	<div class="prev">
		<a href="#/photography">prev</a>
	</div>
	
	<div class="next">
		<a href="#/pictography">next</a>
	</div>
</div>
