
<div class="square" id="portfolio">
		<div class="content">
			<div class="text">
				<span class="box">Do you see what i see?</span><br>
				<span class="box box2">I explore ideas and communicate through design.</span><br><br>
                
                <span class="box box2">
                    <i class="fa fa-angle-down fa-2x"></i><p>Portfolio</p>
                </span>
			</div>

		</div>
</div>

<section class="portfolio">

	<div id="aboutwork">
		<span class="box">I believe in minimalism, concept, and punctualism.</span><br>
		<span class="box box2">I design for user experience with a focus in excellence.</span>
	</div>

 <ul class="col">
         <li class="large"> 
             <figure class="cap-bot"><a href="#/whiteboard">
        	    	<img src="assets/images/workimages/whiteboard.jpg" alt="whiteboard">
                 <figcaption>
                     <p><span>WhiteBoard - </span>Web App for critiques</p>
                 </figcaption></a>
             </figure> 
         </li>
         <li class="large"> 
             <figure class="cap-bot"><a href="#/hidden">
                    <img src="assets/images/workimages/hiddengem1.jpg" alt="hiddengemm">
                 <figcaption>
                     <p>Hidden Gem - UI Design</p>
                 </figcaption></a>
             </figure> 
         </li>
          <li class="large"> 
             <figure class="cap-bot"><a href="#/beacon">
                    <img src="assets/images/workimages/beacon.jpg" alt="beacon">
                 <figcaption>
                     <p><span>Ai Beacon - </span>Mobile App</p>
                 </figcaption></a>
             </figure> 
         </li>
         <li class="medium"> 
             <figure class="cap-bot"><a href="#/pictography">
        	    	<img src="assets/images/workimages/pictography1.jpg" alt="pictography">
                 <figcaption>
                     <p><span>Pictography - </span>Instagram API</p>
                 </figcaption></a>
             </figure>
         </li>
         <li class="medium"> 
             <figure class="cap-bot"><a href="#/mchacks">
                    <img src="assets/images/workimages/mchacks.jpg" alt="mchacks">
                 <figcaption>
                     <p><span>Mchacks - </span>Web/Graphic Design</p>
                 </figcaption></a>
             </figure>
         </li>
         <li class="medium"> 
             <figure class="cap-bot"><a href="#/edge">
                    <img src="assets/images/workimages/edge1.jpg" alt="edge">
                 <figcaption>
                     <p><span>EDGE - </span>Web/Graphic Design</p>
                 </figcaption></a>
             </figure>
         </li>
         <li class="medium"> 
             <figure class="cap-bot"><a href="#/posters">
        	    	<img src="assets/images/workimages/posters1.jpg" alt="posters">
                 <figcaption>
                     <p><span>Posters - </span>Graphic Design</p>
                 </figcaption></a>
             </figure>
         </li>

         <li class="medium"> 
             <figure class="cap-bot"><a href="#/photography">
        	    	<img src="assets/images/workimages/photography1.jpg" alt="photography">
                 <figcaption>
                     <p><span>Photography - </span>Through the Lens</p>
                 </figcaption></a>
             </figure>
         </li>
</ul>

</section>
