<div class="body">
	
	<div class="work-description mchacksbg">
		<div class="work-content">
			<span class="box">McHacks</span><br>
			<span class="box box2">Branding and web design for McHacks Hackathon.</span>
		</div>
		
		
	</div>

	<div class="work-comments">
		<div class="blabble">
			<h3>BACKGROUND</h3><br>
			<p>McHacks is a student run hackathon that is held at McGill University. <br> McHacks appoached me for a brand new logo with an accompanying one page sign up website.</p><br><br>

			<a href="#" target="_blank">Site not up yet</a>
		</div>

		<div class="technology">
			<h3>What I did</h3><p>Lead Designer/Developer virtually. </p><br>
			<h3>What I used</h3><p>Photoshop, HTML5, CSS3, JQuery, JavaScript. 
		</div>
	</div>
	
	<div class="work mchacks">
		<img src="assets/images/mchacks/mchacks.jpg" alt="mchacks">
	</div>	
	
	
</div>

<div class="work-nav">
	<div class="prev">
		<a href="#/posters">prev</i></a>
	</div>

	<div class="next">
		<a href="#/photography">next</a>
	</div>
</div>
