<div class="body">

	<div class="work-description photobg">
		<div class="work-content">
			<span class="box">Photography</span><br>
			<span class="box box2">A collection of photos</span>
		</div>
	</div>

	<div class="work-comments">
		<div class="blabble">
			<h3>BACKGROUND</h3><br>
			<p>Some days I like to go beyond the screen and capture moments through the lens.</p><br><br>
		</div>

		<div class="technology">
			<h3>What I did</h3><p>Take/edit photos</p><br>
			<h3>What I used</h3><p>Canon SL1, Photoshop</p>
		</div>
	</div>

	<div class="picture">
		<img src="assets/images/photography/ep2.jpg" alt="Ep2">
		<img src="assets/images/photography/ep4.jpg" alt="Ep4">
		<img src="assets/images/photography/umbrella2.jpg"  alt="Umbrella2">
		<img src="assets/images/photography/airport.jpg" width="1300" height="867" alt="Airport">
		<img src="assets/images/photography/car.jpg" width="800" height="1200" alt="Car">
		<img src="assets/images/photography/JONAR.jpg" width="1200" height="800" alt="JONAR">
		<img src="assets/images/photography/jonar6.jpg" width="795" height="1200" alt="Jonar6">
		<img src="assets/images/photography/jonathan.jpg" width="867" height="1300" alt="Jonathan">
		<img src="assets/images/photography/jonathan3.jpg" width="1300" height="771" alt="Jonathan3">
		<img src="assets/images/photography/man.jpg" width="900" height="1335" alt="Man">
		<img src="assets/images/photography/tunnel.jpg" width="1300" height="816" alt="Tunnel">
		
	</div>	
</div>

<div class="work-nav">
	<div class="prev">
		<a href="#/posters">prev</a>
	</div>

	<div class="next">
		<a href="#/whiteboard">next</a>
	</div>
</div>