<div class="body">
	<div class="work-description">
		<h1>Photography</h1>
		<h3>A visual journey through the lens</h3>
	</div>
	<div class="work picture">
		<img src="assets/images/photography/ep2.jpg" alt="Ep2">
		<img src="assets/images/photography/ep4.jpg" alt="Ep4">
		<img src="assets/images/photography/umbrella2.jpg"  alt="Umbrella2">
		<img src="assets/images/photography/airport.jpg" width="1300" height="867" alt="Airport">
		<img src="assets/images/photography/car.jpg" width="800" height="1200" alt="Car">
		<img src="assets/images/photography/JONAR.jpg" width="1200" height="800" alt="JONAR">
		<img src="assets/images/photography/jonar6.jpg" width="795" height="1200" alt="Jonar6">
		<img src="assets/images/photography/jonathan.jpg" width="867" height="1300" alt="Jonathan">
		<img src="assets/images/photography/jonathan3.jpg" width="1300" height="771" alt="Jonathan3">
		<img src="assets/images/photography/man.jpg" width="900" height="1335" alt="Man">
		<img src="assets/images/photography/tunnel.jpg" width="1300" height="816" alt="Tunnel">
		
	</div>	
</div>

<div class="work-nav">
	<div class="prev">
		<a href="#/edge">prev</a>
	</div>

	<div class="next">
		<a href="#/hidden">next</a>
	</div>
</div>

<footer>
	<h3>DANIEL PARK</h3>
	<p>Made with love from Canada, 2014 ©</p>
</footer>