<div class="body">

	<div class="work-description pictobg">
		<div class="work-content">
			<span class="box">//Pictography</span><br>
			<span class="box box2">Getting Instagram statistics on a specific user.</span>
		</div>
	</div>

	<div class="work-comments">
		<div class="blabble">
			<h3>BACKGROUND</h3><br>
			<p>//Pictography was a project created so that I can gain experience with PHP and playing around with web data. Using the Instagram API I grab miscellaneous information unique to the user.</p><br><br>

			<a href="http://dparkd.com/visual" target="_blank">VISIT SITE</a>
		</div>

		<div class="technology">
			<h3>What I did</h3><p>Develop and Design</p><br>
			<h3>What I used</h3><p>Responsive Design, PHP, Instagram API, HTML/CSS</p>
		</div>
	</div>
	
	<div class="work">
		<img src="assets/images/pictography/pictography.jpg" alt="Pictography">
	</div>	
	
</div>

<div class="work-nav">
	<div class="prev">
		<a href="#/beacon">prev</a>
	</div>

	<div class="next">
		<a href="#/mchacks">next</a>
	</div>
</div>
