<div class="body">
	
	<div class="work-description">
		<h1>Pictography</h1>
		<h3>Get statistics on your Instagram profile. <br> This project was made possible with PHP and Instagram API</h3><br><br>
	
		<a href="http://dparkd.com/visual/" target="_blank">VISIT SITE</a>
	</div>
	

	
	<div class="work">
		<img src="assets/images/pictography/pictography.jpg" alt="Pictography">
	</div>	
	
</div>

<div class="work-nav">
	<div class="prev">
		<a href="#/hidden">prev</a>
	</div>

	<div class="next">
		<a href="#/posters">next</a>
	</div>
</div>
<footer>
	<h3>DANIEL PARK</h3>
	<p>Made with love from Canada, 2014 ©</p>
</footer>