
	
<div class="left-body">
	<div>
		<h2>Work</h2>
		<h2>Create</h2>
		<h2>Design</h2>
		
		<h3>Take a look at Daniel's portfolio</h3>
	</div>
</div>
	
 <ul class="col">
         <li class="large"> 
             <figure class="cap-bot"><a href="#/hidden">
        	    	<img src="assets/images/workimages/hiddengem1.jpg" alt="hiddengemm">
                 <figcaption>
                     <p>Hidden Gem - UI Design</p>
                 </figcaption></a>
             </figure> 
         </li>
         <li class="large"> 
             <figure class="cap-bot"><a href="#/hidden">
                    <img src="assets/images/workimages/hiddengem1.jpg" alt="hiddengemm">
                 <figcaption>
                     <p>Hidden Gem - UI Design</p>
                 </figcaption></a>
             </figure> 
         </li>
         <li class="medium"> 
             <figure class="cap-bot"><a href="#/pictography">
        	    	<img src="assets/images/workimages/pictography1.jpg" alt="pictography">
                 <figcaption>
                     <p>Pictography - PHP and Instagram API Application</p>
                 </figcaption></a>
             </figure>
         </li>
         <li class="medium"> 
             <figure class="cap-bot"><a href="#/posters">
        	    	<img src="assets/images/workimages/posters1.jpg" alt="posters">
                 <figcaption>
                     <p>DP Posters - Graphic Design Posters</p>
                 </figcaption></a>
             </figure>
         </li>
         <li class="medium"> 
             <figure class="cap-bot"><a href="#/edge">
        	    	<img src="assets/images/workimages/edge1.jpg" alt="edge">
                 <figcaption>
                     <p>EDGE - U of A Business Competition Branding</p>
                 </figcaption></a>
             </figure>
         </li>
         <li class="medium"> 
             <figure class="cap-bot"><a href="#/photography">
        	    	<img src="assets/images/workimages/photography1.jpg" alt="photography">
                 <figcaption>
                     <p>Photography - Through the Lens</p>
                 </figcaption></a>
             </figure>
         </li>
			<li>
			</li>
</ul>
