<div class="body">
	<div class="work-description posterbg">
		<div class="work-content">
			<span class="box">Graphic Posters</span><br>
			<span class="box box2">A collection of graphic posters</span>
		</div>
	</div>

	<div class="work-comments">
		<div class="blabble">
			<h3>BACKGROUND</h3><br>
			<p>I am a big fan of the international typographic style (Swiss Style), so I created some posters in that style.</p><br><br>
		</div>

		<div class="technology">
			<h3>What I did</h3><p>Concept and Design</p><br>
			<h3>What I used</h3><p>Photography, Photoshop, Illustrator, Typography</p>
		</div>
	</div>

	<div class="poster">
		<img src="assets/images/dailies/daily1.jpg" alt="Daily1">
		<img src="assets/images/dailies/daily2.jpg" alt="Daily2"> 
		<img src="assets/images/dailies/daily3.jpg" alt="Daily3">
		<img src="assets/images/dailies/daily4.jpg" alt="Daily4">
		<img src="assets/images/dailies/daily5.jpg" alt="Daily5">
		<img src="assets/images/dailies/daily6.jpg" alt="Daily6">
		<img src="assets/images/dailies/daily7.jpg" alt="Daily7">
		<img src="assets/images/dailies/daily8.jpg" alt="Daily8">
		<img src="assets/images/dailies/daily10.jpg" alt="Daily10">
		<img src="assets/images/dailies/daily11.jpg" alt="Daily11">
	</div>	
</div>

<div class="work-nav">
	<div class="prev">
		<a href="#/edge">prev</a>
	</div>

	<div class="next">
		<a href="#/photography">next</a>
	</div>
</div>
