<div class="body">

  <div class="work-description whiteboardbg">
    <div class="work-content">
      <span class="box">Whiteboard</span><br>
      <span class="box box2">A critique web app</span>
    </div>
  </div>

  <div class="work-comments">
    <div class="blabble">
      <h3>BACKGROUND</h3><br>
      <p>I created Whiteboard so that students who are in the creative field can share their projects and designs just like in the classroom. I find that the whiteboard critique is the most effective way to get constructive feedback. <br> This is a work in progress - I am currently in the development stage.</p><br>

      <a target="_blank">App In Development</a>
      <a href="http://dparkd.com/whiteboard/" target="_blank">Visit Landing Page</a>
    </div>

    <div class="technology">
      <h3>What I did</h3><p>Wireframed, Designed, Developed</p><br>
      <h3>What I used</h3><p>HTML/CSS, Angular Js, Photoshop, Illustrator.
    </div>
  </div>

  <div class="work whiteboards">
    <img src="assets/images/whiteboard/perspective.jpg" alt="perspective">
    <img src="assets/images/whiteboard/branding.jpg" alt="branding">
  </div>
    
</div>

<div class="work-nav">
  <div class="prev">
    <a href="#/photography">prev</a>
  </div>
  
  <div class="next">
    <a href="#/hidden">next</a>
  </div>
</div>
